{% extends 'base.html' %}
{% load static %}

{% block title %}
  Корзина
{% endblock title %}

{% block content %}
<!-- Shopping Cart Section-->
<section class="shopping-cart">
  <form method="post">
    {% csrf_token %}
      <div class="container">
        <div class="cart cart-holder">
          <h3 class="text-center">Товары в заказе</h3>
            <div class="row cart-header">
              <div class="col-5 text-center">Название товара</div>
              <div class="col-1 text-center">Размер</div>
              <div class="col-2 text-center">Цена</div>
              <div class="col-2 text-center">Количество</div>
              <div class="col-2 text-center">Всего</div>
            </div>
            <div class="cart-body">
              <!-- Product list-->
              {% for product_in_cart in products_in_cart %}
              <div class="item">
                <div class="row d-flex align-items-center">
                  <div class="col-5">
                    <div class="d-flex align-items-center">
                      <div class="title"><h5>{{ product_in_cart.product.name }} <span class="text-muted small">(арт.: {{ product_in_cart.product.vendor_code }})</span></h5></div>
                    </div>
                  </div>
                  <div class="col-1 text-center"><span class="product-size">{{ product_in_cart.size }}</span></div>
                  <div class="col-2 text-center"><span class="product-price-per-item">{{ product_in_cart.price_per_item }}</span></div>
                  <div class="col-2 text-center"><span class="product-quantity">{{ product_in_cart.quantity }}</span></div>
                  <div class="col-2 text-center"><span class="product-total-price">{{ product_in_cart.total_price }}</span></div>
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
      </div>
      <div class="text-right">
        <p class="total-amount"><b>Сумма заказа:</b> <span id="total_order_amount">{{ cart_total_price }} грн</span></p>
      </div>
    <div class="row">
      <div class="col-lg-4 offset-lg-2">
          <div class="form-group">
            <label>Логин</label> <span class="text-danger small">{{ form.username.errors }}</span>
            <input type="text" name="{{ form.username.html_name }}" class="form-control" value="{{ client.username }}">
          </div>
          <div class="form-group">
            <label>Фамилия</label> <span class="text-danger small">{{ form.last_name.errors }}</span>
            <input type="text" name="{{ form.last_name.html_name }}" class="form-control" value="{{ client.last_name }}">
          </div>
          <div class="form-group">
            <label>Телефон</label> <span class="text-danger small">{{ form.phone.errors }}</span>
            <input type="text" name="{{ form.phone.html_name }}" class="form-control" value="{{ client.phone }}">
          </div>
      </div>
      <div class="col-lg-4">
          <div class="form-group">
            <label>Email</label>
            <input type="text" name="{{ form.email.html_name }}" class="form-control" value="{{ client.email }}">
          </div>
          <div class="form-group">
            <label>Имя</label> <span class="text-danger small">{{ form.first_name.errors }}</span>
            <input type="text" name="{{ form.first_name.html_name }}" class="form-control" value="{{ client.first_name }}">
          </div>
          <div class="form-group">
            <label>Адрес</label> <span class="text-danger small">{{ form.address.errors }}</span>
            <input type="text" name="{{ form.address.html_name }}" class="form-control" value="{{ client.city }}">
          </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
          <div class="form-group">
            <label>Комментарий</label>
            <textarea placeholder="Укажите способ оплаты и доставки..." name="{{ form.comments.html_name }}" class="form-control"></textarea>
          </div>
      </div>
    </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-center justify-content-md-end flex-column flex-md-row"><button type="submit" class="btn btn-lg btn-danger btn-order">Заказать</button></div>
      </div>
  </form>
</section>
{% endblock content %}