{% extends 'base.html' %}
{% load static %}

{% block title %}
  Категория "{{ category.name }}"
{% endblock title %}

{% block content %}
<div class="container text-center">
  <h2 class="title-name">{{ category.name }}</h2>
  <div class="row">
    {% for product in products_of_category %}
      {% include 'core/product_filter.html' %}
    {% endfor %}
  </div>
</div>

  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<h1>Category Page</h1>-->
    <!--</div>-->
  <!--</div>-->


<!--<div id="wrapper" class="toggled">-->
            <!--<div id="sidebar-wrapper">-->
                <!--<ul class="sidebar-nav">-->
                    <!--<li class="sidebar-brand"> <a href="#"> Start Bootstrap </a> </li>-->
                    <!--<li> <a href="#">Dashboard</a> </li>-->
                    <!--<li> <a href="#">Shortcuts</a> </li>-->
                    <!--<li> <a href="#">Overview</a> </li>-->
                    <!--<li> <a href="#">Events</a> </li>-->
                    <!--<li> <a href="#">About</a> </li>-->
                    <!--<li> <a href="#">Services</a> </li>-->
                    <!--<li> <a href="#">Contact</a> </li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div id="page-content-wrapper">-->
                <!--<div class="container-fluid">-->
                    <!--<h1>Simple Sidebar</h1>-->
                    <!--<p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>-->
                    <!--<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->




<!--<div class="nav-side-menu">-->
    <!--<div class="brand">Brand Logo</div>-->
    <!--<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>-->

        <!--<div class="menu-list">-->

            <!--<ul id="menu-content" class="menu-content collapse out">-->
                <!--<li>-->
                  <!--<a href="#">-->
                  <!--<i class="fas fa-tachometer-alt fa-lg"></i> Dashboard-->
                  <!--</a>-->
                <!--</li>-->

                <!--<li  data-toggle="collapse" data-target="#products" class="collapsed active">-->
                  <!--<a href="#"><i class="fab fa-studiovinari fa-lg"></i> UI Elements <span class="arrow"></span></a>-->
                <!--</li>-->
                <!--<ul class="sub-menu collapse" id="products">-->
                    <!--<li class="active"><a href="#">CSS3 Animation</a></li>-->
                    <!--<li><a href="#">General</a></li>-->
                    <!--<li><a href="#">Buttons</a></li>-->
                    <!--<li><a href="#">Tabs & Accordions</a></li>-->
                    <!--<li><a href="#">Typography</a></li>-->
                    <!--<li><a href="#">FontAwesome</a></li>-->
                    <!--<li><a href="#">Slider</a></li>-->
                    <!--<li><a href="#">Panels</a></li>-->
                    <!--<li><a href="#">Widgets</a></li>-->
                    <!--<li><a href="#">Bootstrap Model</a></li>-->
                <!--</ul>-->


                <!--<li data-toggle="collapse" data-target="#service" class="collapsed">-->
                  <!--<a href="#"><i class="fab fa-fort-awesome-alt fa-lg"></i> Services <span class="arrow"></span></a>-->
                <!--</li>-->
                <!--<ul class="sub-menu collapse" id="service">-->
                  <!--<li>New Service 1</li>-->
                  <!--<li>New Service 2</li>-->
                  <!--<li>New Service 3</li>-->
                <!--</ul>-->


                <!--<li data-toggle="collapse" data-target="#new" class="collapsed">-->
                  <!--<a href="#"><i class="fab fa-pagelines fa-lg"></i> New <span class="arrow"></span></a>-->
                <!--</li>-->
                <!--<ul class="sub-menu collapse" id="new">-->
                  <!--<li>New New 1</li>-->
                  <!--<li>New New 2</li>-->
                  <!--<li>New New 3</li>-->
                <!--</ul>-->


                 <!--<li>-->
                  <!--<a href="#">-->
                  <!--<i class="fas fa-user-tie fa-lg"></i> Profile-->
                  <!--</a>-->
                  <!--</li>-->

                 <!--<li>-->
                  <!--<a href="#">-->
                  <!--<i class="fa fa-users fa-lg"></i> Users-->
                  <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
     <!--</div>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
{% endblock content %}