{% extends 'base.html' %}
{% load static %}

{% block title %}
  Страница товара
{% endblock title %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        {% for image_item in product.productimage_set.all %}
          <img class="responsive" src="/{{ image_item.image.url }}">
        {% endfor %}
      </div>
      <div class="col-lg-6">
        <div class="product-info">

        <h1 class="text-center">
          {{ product.name }}
        </h1>
          <p>Артикул: {{ product.vendor_code}}</p>

          {% if product.sale_percent.sale_percent %}
            <h5><del> {{ product.price }} UAH</del></h5>
            <h4 class="text-danger">Цена: {{ price_with_sale }} UAH</h4>
          {% else %}
            <h4>Цена: {{ product.price }} UAH</h4>
          {% endif %}

          <div>
             <form id="form_buy_product" action="{% url 'order:cart_adding' %}">
              {% csrf_token %}
              <fieldset class="form-group">
                <div class="row">
                 <p>Доступные размеры:</p>
                  <div class="col-sm-10" id="product-size">
                    <label><input type="radio" name="size" checked>16</label>&nbsp;
                    <label><input type="radio" name="size">17.5</label>&nbsp;
                    <label><input type="radio" name="size">18</label>&nbsp;
                    <label><input type="radio" name="size">19</label>&nbsp;
                  </div>

                </div>
              </fieldset>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Количество</label>
                <div class="col-sm-3">
                  <input type="number" value="1" min="1" max="10" step="1" class="form-control quantity-input" id="quantity"> <br>
                </div>
                <br>
              </div>
              <div class="form-group row">
                <button type="submit" class="btn-lg btn-success btn-buy col-sm-6" id="submit_btn"
                        data-product_id = "{{ product.id }}"
                        data-vendor_code = "{{ product.vendor_code}}"
                        data-name = "{{ product.name }}"
                        data-price = "{{ product.price }}"
                        data-sale = "{{ product.sale_percent.sale_percent }}"
                        data-price_with_sale = "{{ price_with_sale }}"

                >
                  Добавить в корзину
                </button>
              </div>
            </form>
          </div>

          <ul class="nav nav-tabs" id="productTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Описание</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="parameters-tab" data-toggle="tab" href="#parameters" role="tab" aria-controls="parameters" aria-selected="false">Характеристики</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="feedback-tab" data-toggle="tab" href="#feedback" role="tab" aria-controls="contact" aria-selected="false">Отзывы</a>
            </li>
          </ul>
          <div class="tab-content" id="productTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
              <p>{{ product.description }}</p>
            </div>
            <div class="tab-pane fade" id="parameters" role="tabpanel" aria-labelledby="parameters-tab">
              <hr><p>Для кого: {{ product.get_gender_for_display }}
              <hr>
              Тип изделия: {{ product.type }}
              <hr>
              Металл: {{ product.metal }}
              <hr>
              Коллекция: {{ product.collection.name }}
              <hr>
              Вставка:
              {% if product.insertion %}
                {{ product.insert_type }}
              {% else %}
                отсутствует
              {% endif %}
              </p><hr>
            </div>
            <div class="tab-pane fade" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">
              <p>Добавить форму с отзывом</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock content %}