{% extends 'base.html' %}
{% load static %}

{% block title %}
  О нас
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-1 text-justify">
        <p>SG Jewelry – молодой и амбициозный ювелирный бренд. Мы создаем украшения для людей, которые готовы экспериментировать.
          Которые яркие концепции и новые фактуры ценят выше, чем блеск камней и до боли привычный полированный металл.</p>
          <p>В переводе с итальянского «salto» означает «прыжок, прорыв», а «gioielli» – «ювелирные изделия».
          Это словосочетание полностью отражает концепцию бренда. Его цель – совершить переворот в привычном восприятии украшений как таковых.</p>
        <p>Мы всегда открыты к диалогу и будем рады сотрудничеству!</p>
        <p>С уважением,<br>
        команда Salto Gioielli</p>
      </div>
      <div class="col-lg-4">
        <img src="" alt="">
      </div>
    </div>
  </div>
{% endblock content %}
